<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
        default-lazy-init="false" default-autowire="byName">


	<bean name="pdqStore" class="com.jd.paq.api.DefaultPDQStore"></bean>

<!--	<bean name="pdqMsgSynClient"  class="com.jd.eco.cancelorder.core.retry.service.client.PDQMsgSynClient">-->
<!--		<property name="store" ref="pdqStore"></property>-->
<!--		<property name="dataSource" ref="pdqDataSource"></property>-->
<!--	</bean>-->
	
	<!-- 数据源配置,使用应用内的DBCP数据库连接池 -->
	<bean id="pdqDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">

		<property name="driverClassName" value="${pdq.db.con.driverClassName}" />
		<property name="url" value="${pdq.db.con.url}" />
		<property name="username" value="${pdq.db.con.username}" />
		<property name="password" value="${pdq.db.con.password}" />

		<!-- 初始化连接数量 -->
		<property name="initialSize" value="3"/>
		<!-- 最大活动连接数量 -->
		<property name="maxTotal" value="${pdq.db.con.maxTotal}"/>
		<!-- 最大空闲连接数量 -->
		<property name="maxIdle" value="${pdq.db.con.maxIdle}"/>
		<!-- 最小空闲连接数量 -->
		<property name="minIdle" value="5"/>
		<!-- 获取连接时等待时间，超出将抛异常，单位毫秒 -->
		<property name="maxWaitMillis" value="10000"/>
		<!-- 是否自动提交 -->
		<property name="defaultAutoCommit" value="true"/>
		<!-- 空闲连接被回收时间，回收空闲连接至minIdle指定数量，单位毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="1800000"/>
		<!-- 检查空闲连接是否可被回收，如果小于等于0，不会启动检查线程，默认-1，单位毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="600000"/>
		<!-- 在每次空闲连接回收器线程(如果有)运行时检查的连接数量 -->
		<property name="numTestsPerEvictionRun" value="3"/>
		<!-- SQL查询,用来验证从连接池取出的连接 -->
		<property name="validationQuery" value="select 1"/>
		<!-- 指明连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除 -->
		<property name="testWhileIdle" value="true"/>
		<!-- 指明是否在从池中取出连接前进行检验,如果检验失败, -->
		<property name="testOnBorrow" value="false"/>
		<!-- 指明是否在归还到池中前进行检验 -->
		<property name="testOnReturn" value="false"/>
		<!-- 标记是否删除泄露的连接，设置为true可以为写法糟糕的没有关闭连接的程序修复数据库连接. -->
		<property name="removeAbandonedOnBorrow" value="true"/>
		<!-- 泄露的连接可以被删除的超时值, 单位秒 -->
		<property name="removeAbandonedTimeout" value="180"/>
		<!-- 将会在回收事件后，在log中打印出回收Connection的错误信息，在调试的时候很有用。 -->
		<property name="logAbandoned" value="true"/>
	</bean>
	
</beans>
