<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                              http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person1" class=" com.ydj.beanlifecycle.test.Person" init-method="myInit" destroy-method="myDestroy">
        <property name="name" value="test"></property>
    </bean>

    <bean id="myPostProcessor" class=" com.ydj.beanlifecycle.test.MyBeanPostProcessor"></bean>
</beans>
